<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DisplayServlet</servlet-name>
        <servlet-class>Display.DisplayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>controller.StudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverServlet</servlet-name>
        <servlet-class>controller.DriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RouteServlet</servlet-name>
        <servlet-class>controller.RouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogin</servlet-name>
        <servlet-class>controller.StudentLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverLogin</servlet-name>
        <servlet-class>controller.DriverLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDeleteServlet</servlet-name>
        <servlet-class>controller.StudentDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayServlet</servlet-name>
        <url-pattern>/DisplayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverServlet</servlet-name>
        <url-pattern>/DriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RouteServlet</servlet-name>
        <url-pattern>/RouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogin</servlet-name>
        <url-pattern>/StudentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverLogin</servlet-name>
        <url-pattern>/DriverLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDeleteServlet</servlet-name>
        <url-pattern>/StudentDeleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
